<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard - IRWA Search Engine</title>

</head>

<!--
    self, id, title, tweet,
                 username, date, hashtags,
                 likes, retweets, url
-->

<body>
    {% extends "base.html" %} {% block page_title %}{{ page_title }}{% endblock %} {% block content %}
    <div><a href="#" onclick="history.go(-1)">Go back</a></div>
    <div><a href="#" onclick="history.go(-2)">Go back to results</a></div>
    <div><a href="#" onclick="history.go(-3)">Make another query</a></div>
    <hr> Session information:
    <div class="Agnet">
        <ul>
            <li>Platform: {{ agent.platform }}</li>
            <li>Browser: {{ agent.browser }}</li>
            <li>Language: {{ agent.language }}</li>
        </ul>
    </div>
    <hr> Stats this session:
    <hr>
    <div class="Clicks">
        Number of documents clicked this session: {{ num_clicks }}
    </div>
    <hr>
    <div class="queries">
        <div class="avg_q_len">
            Average query length this session: {{ queries_len}}
        </div>
        <br>
        <div class="queries">
            Queries so far:
            <div class="queries">
                <ol>
                    {% for query in queries %}
                    <li>{{ query.text }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    <hr>
    <div class="Documents">
        <div class="Top clicked docs">
            Top 10 clicked docs this session:
            <div class="top">
                <ol>
                    {% for doc in top10_clicked_docs %}
                    <li><a href="{{ doc.details }}">{{ doc.tweet }} queries:{{ doc.queries }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    </div>

</html>
{% endblock %}
</body>

</html>