{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Document Detail - IRWA Search Engine</title>
</head>
<hr>
<body>
    <div class="pb-3">
        <div class="doc-title">
            {{ tweet.title}}
        </div>

        <div class="tweet">
            {{ tweet.tweet }}
        </div>

        <div class="date">
            Created at: {{ tweet.date }}
        </div>

        <div class="url">
            <cite> <a href="{{ tweet.url }}">{{ tweet.url }}</a></cite>
        </div>

        <div class="doc-desc">
            likes:{{ tweet.likes }} — retweets:{{ tweet.retweets }}
        </div>
    </div>
    <div><a href="#" onclick="history.go(-1)">Go Back</a></div>
    <div><a href="#" onclick="history.go(-4)">Make another query</a></div>
    <div><a href="/stats">Stats</a></div>
</body>
{% endblock %}
</html>